<section id="dashboard">
  <div id="dashboard-container">
    <div id="dashboard-row">
      <div class="dashboard-navigation">
        <%= render partial: 'partials/user_cabinet/side_menu' %>
      </div>
      <section id="dashboard-user-profile">
        <h2>Каталог їжі</h2>
        <%= render 'edit_form' %>
        <br>
        <%= link_to 'Назад', my_catalog_index_path, class: 'back' %>
      </section>
    </div>
  </div>
</section>
